/*Subscriber Info!*/
/* Change the description of "subscribers"*/
div.titlebox span.word {
    display: none
    }
span.subscribers span.number:after {
    content: " Fox Lovers"
    }
p.users-online span.number:after  {
content: " Fox Lovers online!"
}
/*Gold Flair
 * ###################################################################### */
.author[href*="user/ProfessorNope"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* 
 * ####################################################################### */
.author[href*="user/Newfur"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* 
 * ####################################################################### */
.author[href*="user/fablefire"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* 
 * ####################################################################### */
.author[href*="user/jake0825"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* 
 * ####################################################################### */
.author[href*="user/CanadianWhovian"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* ####################################################################### */
.author[href*="user/FoxInASuit"] 
{ color: white ;
background-color:gold;
font-weight: bold }
/* ####################################################################### */
/* up down buttons [Shamelessly taken from /r/furry] */
.midcol {
    width: 35px;
overflow:visible;
    }
.comment .midcol{
position:relative;

padding:0px 5px 0px 0px;
}

div.up {
    width: 19px !important;
    height: 17px !important;
    background: url(%%t5-2qi2h-0%%) !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important
    }
div.upmod {
    width: 19px !important;
    height: 17px !important;
    background: url(%%t5-2qi2h-0%%) !important;
    background-repeat: no-repeat !important;
    background-position: -19px 0px !important
    }
div.down {
    width: 19px !important;
    height: 17px !important;
    background: url(%%t5-2qi2h-0%%) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -17px !important
    }
div.downmod {
    width: 19px !important;
    height: 17px !important;
    background: url(%%t5-2qi2h-0%%) !important;
    background-repeat: no-repeat !important;
    background-position: -19px -17px !important
    }
/* ####################################################################### */


/*announcement sticky leo1cw */
div.content {
    /*This lowers the links to create space*/
    margin-top: 72px
    }
.titlebox form {
    /*Hack to enable repositioning of child elements*/
    position: static
    }
.side h3:nth-of-type(1) {
    /*this code positions the sticky*/
    position: absolute;
    display: block;
    top: 224px;
    left: 40px;
    /*this code styles the sticky*/
    background-color: #ffbb77;
    color: #555555;
    text-align: center;
    margin: 15px;
    border-radius: 8px;
    width: 50%;
    padding: 7px 0px 7px 60px;
    /*this code creates the image*/
    background-image: url(%%fox%%);
    background-repeat: no-repeat;
    background-position: left
    }


/*=========================================== HEADER =====================================*/
/* Reddit logo */
#header-img {
   /* visibility:hidden;*/
    padding: 2px;
    margin-top: -50px !important
    }
/*Header where mail button is */
#header-bottom-right {
    top: 19px !important;
    margin: 7px 4px 0 0 !important;
    bottom: auto !important
    }
#header-bottom-right {
    position: absolute !important;
    right: 0px !important;
    padding-left: 20px !important;
    padding-right: 7px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    line-height: 12px !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    border: 2px solid #ee8833 !important
    }
#userbarToggle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    /*padding-right: 3px;*/
    height: 21px;
    font-size: 15px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0px;
    display: inline-block;
    border-right: 1px solid #ee8833;
    cursor: pointer;
    text-align: right;
    line-height: 20px
    }
/*my subreddits very top header bar*/
#sr-header-area {
    padding: 3px 0px 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    border: 2px solid #ee8833;
    font-size: 90%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
z-index: 105;
    }
#header {
    border-bottom: none
    }
/*name of subreddit in header, replaced with logo*/
.pagename a {
    position: absolute !important;
    z-index: 100;
    top: 70px !important;
    left: 230px !important;
    width: 200px !important;
    color: #443322;
    text-decoration:none !important;
    font-size: 4em !important; 
    font-family:fantasy !important;
    /*padding: 100px 6px 0 50px !important; */
    /*background-color: #ffdd77;*/

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid #ee8833;
    border-bottom: 0px solid #ee8833 !important
    }



/*tabs at top*/
/*selected tab*/
.tabmenu li.selected a {
    font-size: 12px !important;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #ee8833;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #ee8833 !important;
    border-bottom: 2px solid #ee8833 !important;
    z-index: 100
    }
/*other tabs*/
.tabmenu li a {
    font-size: 12px !important;
    padding: 2px 6px 0 6px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #ee8833 !important;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #ee8833 !important;
    border-bottom: 2px solid #ee8833 !important;
    z-index: 100
    }
/*Title bar background*/
#header-bottom-left {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #ffbb77;
   /* opacity: 0.4;*/
    border-bottom: 2px solid #ee8833}
/*=======================================END HEADER=======================================*/
/*----------------------------------------------------------------------------------------*/
/*======================================= SIDE BAR =======================================*/

/* Customize Search Bar */
#search input[type="text"] {
    font-size: 14px;
    width: 290px !important;
    padding: 2px 2px 2px 2px !important;
    border: 2px solid #ee8833 !important;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
    }

/* Sidebox */
.sidecontentbox {
    /*  background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat #ddd !important; */
    padding: 10px;
    border: 2px solid #ee8833 !important;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white !important
    }
.sidecontentbox h1 {
    font-size: small;
    text-transform: none
    }
.sidecontentbox ul.content {
    /*background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat #ddd !important; */
    border: 0
    }
.sidecontentbox ul.content li {
    /*background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat #ddd !important; */
    font-size: small;
    margin-bottom: 2px
    }
.icon-menu a {
    background-color: transparent
    }
.titlebox {
    padding: 10px;
    border: 2px solid #ee8833;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }

/*flair time */
.flair-FoxEyeFlair, .flair-FoxFlairFive, .flair-FoxFlairFour, .flair-FoxFlairOne, .flair-FoxFlairThree, .flair-FoxFlairTwo, .flair-FoxPrintFlairEight,  .flair-FoxPrintFlairEleven, .flair-FoxPrintFlairFive, .flair-FoxPrintFlairFour,.flair-FoxPrintFlairNine, .flair-FoxPrintFlairOne, .flair-FoxPrintFlairSeven, .flair-FoxPrintFlairSix, .flair-FoxPrintFlairTen, .flair-FoxPrintFlairThree, .flair-FoxPrintFlairTwelve, .flair-FoxPrintFlairTwo, .flair-IHeartFoxesFlair {
background: url(%%flairs%%) no-repeat -9999px -9999px;
    display: inline-block; 
    padding: 0;
    margin: 5px;
    color: black;  
    border: 0;
    border-radius: 0;
    text-indent: -99999px;
    vertical-align: middle;
    overflow: hidden;
}

.flair-GoldenPaw, .flair-VerifiedL, .flair-VerifiedV, .flair-VerifiedZ {
background: url(%%specialflair%%) no-repeat -9999px -9999px;
    display: inline-block; 
    padding: 0;
    margin: 5px;
    color: black;  
    border: 0;
    border-radius: 0;
    text-indent: -99999px;
    vertical-align: middle;
    overflow: hidden;
}
.flair-FoxEyeFlair{ background-position: 0 0; width: 20px; height: 20px; } 
.flair-FoxFlairFive{ background-position: -70px 0; width: 27px; height: 15px; } 
.flair-FoxFlairFour{ background-position: -147px 0; width: 27px; height: 15px; } 
.flair-FoxFlairOne{ background-position: -224px 0; width: 27px; height: 15px; } 
.flair-FoxFlairThree{ background-position: -301px 0; width: 27px; height: 15px; } 
.flair-FoxFlairTwo{ background-position: -378px 0; width: 27px; height: 15px; } 
.flair-FoxPrintFlairEight{ background-position: -455px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairEleven{ background-position: -525px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairFive{ background-position: -595px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairFour{ background-position: -665px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairNine{ background-position: -735px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairOne{ background-position: -805px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairSeven{ background-position: -875px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairSix{ background-position: -945px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairTen{ background-position: -1015px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairThree{ background-position: -1085px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairTwelve{ background-position: -1155px 0; width: 20px; height: 20px; } 
.flair-FoxPrintFlairTwo{ background-position: -1225px 0; width: 20px; height: 20px; } 
.flair-IHeartFoxesFlair{ background-position: -1295px 0; width: 28px; height: 18px; } 
.flair-GoldenPaw{ background-position: 0 0; width: 20px; height: 20px; } 
.flair-VerifiedL{ background-position: -70px 0; width: 50px; height: 30px; } 
.flair-VerifiedV{ background-position: -170px 0; width: 50px; height: 30px; } 
.flair-VerifiedZ{ background-position: -270px 0; width: 50px; height: 30px; } 

/*****************************************************************************/
/* Donation */

.md a[href*="https://www.redditdonate.com/"]{display:inline-block;height:40px;padding:0 0 0 100px;margin:0;background:transparent url(%%donatebutton%%) 0 50% no-repeat;text-decoration:none}.md a[href*="https://www.redditdonate.com/"]:hover{background-position:-105px 50%}.md a[href*="https://www.redditdonate.com/"] em{display:inline-block;padding-right:20px;height:40px;color:#fff;font-family:Helvetica;font-weight:bold;font-size:15px;font-style:normal;line-height:40px;background:#ef4923}.md a[href*="https://www.redditdonate.com/"]:hover em{background-color:#db4321}

/*hover on submit link button warning -mwm (from r/cringepics) */

.sidebox.submit:hover:before {
    position: fixed;
    display: block;
    text-align: center;
    background-color: #EB0000;
    color: #fff;
    z-index: 1000;
    padding: 5px 0;
    margin-right: 330px;
    top: 100px;
    left: 0;
    font-size: 25px;
    content: "Set your own link flair! Just click the 'flair' button after you submit your post!" 
}
