/***************
 *  Stickies
 *  ***************/
.side h3:nth-of-type(1){
left: 0;
}
.side h3:nth-of-type(2){
left:205px;
}
.side h3:nth-of-type(1),.side h3:nth-of-type(2) {
top: 55px;
position:absolute;
background-color:#cee3f8;
color:#555555;
text-align:left;
margin: 15px;
border-radius: 8px;
box-shadow: 1px 1px 2px 0px #222222;
padding: 7px 18px 7px 18px;
}



/*Subreddit theme*/
body {background-color:#EEE!important;}

#header-img {
margin-left:4px;
}

.side {
  border-left:1px solid #DDD;
  border-bottom:1px solid #DDD;
  padding:4px!important;
}
.side .md {
  line-height:150%;
}
.thing.link {
  background-color:#FFF!important;
  border-bottom:3px solid #DDD;
  border-left:0px;
  border-right:0px;
  border-top:0px;
  padding-top:1em!important;
  padding-bottom:1em!important;
  overflow:hidden;
}
.thing.link:hover {
  background-color:#F9F9F9!important;
}
.thing.stickied {
  background-color:#f4fff4!important;
}
.thing.stickied:hover {
  background-color:#E1FFE1!important;
}
.comment {
  background:#FFF!important;
  border-radius:0px!important;
  border:1px solid #DDD!important;
  padding-top:1em;
  padding-right:1em;
  padding-bottom:1em;
  padding-left:1em;
  margin-top:.5em;
  margin-bottom:.5em;
}
.comment .child {border:0px;}

.author.submitter {
  border-radius: 0px!important;
  color:#369!important;
  background-color:#e3e8ff!important;
}
.link .flairselectbtn {
  color:red!important;
}

.tabmenu.formtab {position:inherit;}

.res #header-bottom-right { padding-bottom: 5px; }



/* Subheading pulled from an <h6> element in the sidebar, placed under the nav tabs */
.titlebox .usertext-body .md h6 {
	display: block;
	position: absolute;

	top: 52px;
	left: 25px;
	right: 325px;
	margin-top: .5em;
	z-index: 98;
	
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: .7em;
	padding-right: .7em;

	font-size: 1.3em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:normal;

	text-shadow: 1px 1px 2px #000 !important;
	color: #ede329;

	border-width: 1px;
	border-style: solid;
	border-color: #555 #444 #444 #444;
	border-radius: 3px;

	background-color: #666;
}

/* Preface for the subheading box */
.titlebox .usertext-body .md h6 a:before{
	content: "NOTE";

	/* OLD YELLOW */
	color: #ede329;

	/* RED */
	/* color: #FF0000; */

	/* ORANGERED */
	/* color: #ff4500; */

	/* GOLD */
	/* color: #e4cd02; */

	border-right: 1px solid #444;
	padding-right: .6em;
	margin-right: .6em;
}

/* Allow absolute positioning to page */
.titlebox form {
	position: static;
}

/* Inactive link */
.titlebox .usertext-body .md h6 a, .titlebox .usertext-body .md h6 a:link, .titlebox .usertext-body .md h6 a:visited {
	color: #CCC;
	text-shadow: 1px 1px 2px #000 !important;
}

/* Link on hover */
.titlebox .usertext-body .md h6 a:hover {
	color: #DDD;
	text-shadow: 1px 1px 2px #000 !important;
}

Inactive for now

#sitetable {
    margin-top: 58px;
}

body > div.content {
    margin-top: 58px;
} 

/*Linkflairs*/
.linkflair-solved a.title {   
  color: #CCC !important
}
.linkflair-solved .linkflairlabel {
  background:green;
  color:white;
  border:none;
}

.thing.linkflair .linkflairlabel[title="Breaks rule 1"] {
    background-color: #F00!important;
    color: white!important;
}
.thing.linkflair .linkflairlabel[title="MODPOST"] {
    background-color: #0F0!important;
    color: white!important;
}
.thing.linkflair .linkflairlabel[title="bad link"] {
    background-color: #FFF!important;
    border:1px solid #F00;
    color: #F00!important;
}

.usertext-body pre {
    margin: 10px 0;
    padding: 10px;
}
.usertext-body pre,
.usertext-body p > code {
    background: #f6f6f6;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
.res-nightmode .usertext-body pre,
.res-nightmode .usertext-body p > code { background: #bbb; }
.usertext-body code {
    color: #222;
    font-family: Consolas, Monaco, monospace;
    line-height: 1.5em;
}
.usertext-body p > code {
    padding: 0 3px;
}

/*sidebar submit buttons*/
body .morelink {
border-color: #AAA!important;
border-radius: 4px!important;
background: #cee3f8!important;
}
body .morelink:hover {
border-color: #AAA!important;
border-radius: 4px!important;
background: #5ba2fd!important;
}
.morelink a {color:#369!important;}
.morelink a:hover {color:#FFF!important;}
div.nub {display:none}

/*Sidebar*/
.side .md h5 {
  color:#369;
  background:#cee3f8;
  border:1px solid #AAA;
  text-align:center;
  padding-top:.25em;
  padding-bottom:.25em;
}
.side .redditname a {
  display:inline-block;
  width:298px;
  text-align:center;
  text-decoration:none;
  font-size:32pt;
  background:#cee3f8;
  border:1px solid #AAA;
}
.side .redditname a:hover {
  background: #5ba2fd;
  color:#FFF;
}



/* Autowikibot hover to display by /u/Dropping_fruits */
/* Code updates and discussion: http://redd.it/1vr0r2 */
.comment .md h5+h6+h4+p,.comment .md h5+h6+h4+p+hr,.comment .md h5+h6+h4+p+hr+blockquote,.comment .md h5+h6+h4+p+hr+blockquote+hr,.comment .md h5+h6+h4+p+hr+blockquote+hr+p,.comment .md h5+h6+h4+p+hr+blockquote+hr+p+p {
    display: none;
}
.comment .md:hover h5+h6+h4+p,.comment .md:hover h5+h6+h4+p+hr,.comment .md:hover h5+h6+h4+p+hr+blockquote,.comment .md:hover h5+h6+h4+p+hr+blockquote+hr,.comment .md:hover h5+h6+h4+p+hr+blockquote+hr+p,.comment .md:hover h5+h6+h4+p+hr+blockquote+hr+p+p {
    display: block;
}
.comment .md h5+h6+h4:after {
    content: "Autowikibot post. Hover to view";
}
.comment .md:hover h5+h6+h4:after {
content: ""
}
